* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #EFEFEF;
	font-family: "Chelsea Market", Georgia, serif
}

h1 {  
	font-size: 3rem;  
	background: -webkit-linear-gradient(left top,#2872B7, #1BCEDF);
	background: linear-gradient(to bottom right, #2872B7, #1BCEDF);
	-webkit-background-clip: text;  
	-webkit-text-fill-color: transparent;
}  

.faltan{
	margin-top: 1rem;
}


/* ? ----- PORTADA ----- */
.portada {
	width: 100%;
	background: -webkit-linear-gradient(left top, #0a2b2e,#2d2333);
	background: linear-gradient(to bottom right,#0a2b2e,#2d2333);

	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: .5s ease-out all;
}

.portada.oculta {
	transform: translateY(100%);
}

.portada .header {
	margin-bottom: 100px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.portada .header .logotipo { /*Para el cumple de fran*/
	font-size: 900;
	margin-bottom: 2rem;
}

.portada .header .mensaje {
	font-size: 30px;
	font-weight: 600;
}



/* ? ----- MAIN ----- */
main {
	width: 100%;
	background: -webkit-linear-gradient(left top, #0f464b,#463650);
	background: linear-gradient(to bottom right,#114b50,#463650);

	min-height: 100vh;
	top: 0;
	left: 0;
	right: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: .5s ease-out all;

	font-size: 70px;
}



/* ? ----- Cuenta Regresiva ----- */
#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.simply-section {
	background: -webkit-linear-gradient(left top,#2872B7, #1BCEDF);
	background: linear-gradient(to bottom right, #2872B7, #1BCEDF);
	opacity: 0.7;
	width: 180px;
	height: 180px;
	margin: 0 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
/* Agregarle sombras al simply-section */
.simply-amount {
	display: block;
	color: white;
	opacity: 1;
	font-size: 50px;
	font-weight: 700;
	
}

.simply-word {
	color: white;
	opacity: 1;
	font-weight: 300;
	font-size: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.faltan{
		margin-top: 1rem;
	}
	
	
	/* ? ----- PORTADA ----- */
	.portada {
		width: 100%;
	
		min-height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		transition: .5s ease-out all;
	}
	
	.portada.oculta {
		transform: translateY(100%);
	}
	
	.portada .header {
		margin-bottom: 100px;
		text-transform: uppercase;
		letter-spacing: 3px;
	}
	
	.portada .header .logotipo { /*Para el cumple de fran*/
		font-size: 900;
		margin-bottom: 2rem;
	}
	
	.portada .header .mensaje {
		font-size: 30px;
		font-weight: 600;
	}
	
	
	
	/* ? ----- MAIN ----- */
	main {
		width: 100%;
		background: -webkit-linear-gradient(left top, #0f464b,#463650);
		background: linear-gradient(to bottom right,#114b50,#463650);
	
		min-height: 100vh;
		top: 0;
		left: 0;
		right: 0;
	
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		transition: .5s ease-out all;
	
		font-size: 70px;
	}
	
	
	
	/* ? ----- Cuenta Regresiva ----- */
	#cuenta {
		display: flex;
		justify-content: center;
		margin-bottom: 100px;
	}
	
	.simply-section {
		background: -webkit-linear-gradient(left top,#2872B7, #1BCEDF);
		background: linear-gradient(to bottom right, #2872B7, #1BCEDF);
		opacity: 0.7;
		width: 180px;
		height: 180px;
		margin: 0 20px;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
	}
	/* Agregarle sombras al simply-section */
	.simply-amount {
		display: block;
		color: white;
		opacity: 1;
		font-size: 50px;
		font-weight: 700;
		
	}
	
	.simply-word {
		color: white;
		opacity: 1;
		font-weight: 300;
		font-size: 30px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}